*.json
*.pkl
*.cfg
*.pid
*.csv

webserver_config.py
Algorithms/*.pkl
algorithms/models
algorithms/catboost_info
algorithms/.ipynb_checkpoints
algorithms/linear_regression_tuning.ipynb
airflow/logs
airflow/plugins
main/catboost_info
Clean/sql_functions.py
/catboost_info
Data/*.csv

/venv
/ranking.ipynb
/scraping
/.ipynb_checkpoints

/__pycache__
/.idea
/sql
# Ignore the file with the name "yad2_scraper.ipynb"
Yad2_scraper.ipynb
Data/linear_regression_tuning.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb
data_vialuzation.ipynb
data_cleaning_nadlan.ipynb
data_cleaning_madlan.ipynb
data_cleaning_yad2.ipynb
dev.py
*.ipynb
