# Ignore all .txt files
*.txt
*.csv
*.json
*.pkl
Algorithms/*.pkl
Data/*.csv

# Ignore the file with the name "yad2_scraper.ipynb"
yad2_scraper.ipynb
Data/linear_regression_tuning.ipynb
/chromedriver_win32