*.csv
*.json
*.pkl
Algorithms/*.pkl
Algorithms/models
Algorithms/catboost_info
Algorithms/.ipynb_checkpoints
Algorithms/linear_regression_tuning.ipynb
Algorithms/model_run.ipynb

main/catboost_info
Clean/sql_functions.py
/catboost_info
Data/*.csv
/venv
/ranking.ipynb
/Scraping
/.ipynb_checkpoints

/__pycache__
/.idea
/sql
# Ignore the file with the name "yad2_scraper.ipynb"
Yad2_scraper.ipynb
Data/linear_regression_tuning.ipynb
/chromedriver_win32
NLP_Process.ipynb
Untitled.ipynb
Untitled1.ipynb
Untitled2.ipynb

data_cleaning_nadlan.ipynb
data_cleaning_madlan.ipynb
data_cleaning_yad2.ipynb
dev.py